:root {
    background-color: "#e4cece";
}

.canvas-container {
    display: grid;
    margin: 0 auto;
}

.CP-Container {
    display: none;
    margin: 0 auto;
}

.help-text {
    display: inherit;
    position: absolute;
    top: 123px;
    margin: 30% 20%;
    padding: 15px;
    background-color: rgb(127, 255, 212);
    color: rgb(48, 107, 88);
}

body {
    margin: 0 0;
    position: relative;
}

.item {
    transition-duration: 20ms;
    margin: 1px;
}


