:root {
    background-color: "#e4cece";
}

.canvas-container {
    display: grid;
    margin: 0 auto;
}

.CP-Container {
    display: none;
    margin: 0 auto;
}

.help-text {
    display: inherit;
    position: absolute;
    top: 10%;
    margin: auto 30%;
    padding: 15px;
    background-color: rgb(127, 255, 212);
    color: rgb(48, 107, 88);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 14pt;
    border: 10px solid rgb(255, 208, 0);
}
.help-text p {
    margin: 14px 0;
}

kbd, button, input {
    border: 2px solid rgb(48, 107, 88);
    border-radius: 5px;
    color: rgb(212, 174, 1);
    font-size: 14pt;
    padding: 0 4px;
    font-weight: bold;
}
.input {
    text-align: center;
}

button:hover{
    background-color: aquamarine
}

button, input {
    margin: 10px 10px;
    text-align: center;
}

body {
    margin: 0 0;
    position: relative;
}

.item {
    transition-duration: 0ms;
    border: 1px solid white;
    cursor: none;
}
.color-item {
    cursor: none;
}

.item:hover {
    border: 2px dashed aquamarine;
}

.color-item:hover {
    border: 2px dashed rgb(255, 208, 0);
}

#sign {
    font-size: 10pt;
    text-align: right;
    margin: 8pt 0 0 0;
}